
#mapa{
width: 600px;
float: left;
margin: 0px 0px 40px 20px;
border-radius: 10px;
padding: 10px;
}

/*.casilla{
	-webkit-transition: all 30s ease-out;
-moz-transition: all 30s ease-out;
-ms-transition: all 30s ease-out;
-o-transition: all 30s ease-out;
transition: all 30s ease-out;
}
.casilla:hover
{
	float:left;
width:1999px;
}*/
/*
.casilla1:hover
{
	-webkit-transition: all 30s ease-out;
-moz-transition: all 30s ease-out;
-ms-transition: all 30s ease-out;
-o-transition: all 30s ease-out;
transition: all 30s ease-out;
display: none;
}
*/
.casilla1, .casilla2{
width: 100px;
height: 80px;
float: left;
font-size: 12px;
color: #111;
}

#mapa p{
font-size: 14px;
float: right;
margin: 3px;
}

.casilla1{
background-color:#95FF95;
background-image:url("../img/elementos/menu/ciudad.png");
background-size:65px 65px;
background-repeat:no-repeat;
border: 1px dashed #0080FF;
cursor: pointer;
}

.casilla2{
background-color:#95FF95;
border: 1px solid #999;
}


#tabla_mapa{
position: absolute;
}

#mapa_up{
position: absolute;
top: 0px;
left: 50px;
width: 0;
height: 0;
border-bottom: 25px solid #1AB5FF; 
border-left: 15px solid transparent; 
border-right: 15px solid transparent; 
margin: 0px auto;
cursor: pointer;
}

#mapa_left{
float: left;
position: absolute;
top: 30px;
left: 20px;
width: 0; 
height: 0; 
border-right: 25px solid #1AB5FF; 
border-top: 15px solid transparent; 
border-bottom: 15px solid transparent; 
float: left;
cursor: pointer;

}

#mapa_right{
float: right;
position: absolute;
top: 30px;
left: 85px;
width: 0;
height: 0; 
border-left: 25px solid #1AB5FF; 
border-top: 15px solid transparent; 
border-bottom: 15px solid transparent; 
float: right;
cursor: pointer;

}

#mapa_bottom{
position: absolute;
top: 65px;
left: 50px;
width: 0; 
height: 0; 
border-top: 25px solid #1AB5FF; 
border-left: 15px solid transparent; 
border-right: 15px solid transparent; 
margin: 0px auto;
cursor: pointer;
}
